p {
    color: #FFFFFF;
}

table {
    width:90vw;
}

table, tr, th, td{
    text-align: center;
    border: 1px solid black;
}

th, td {
    padding-left:9px;
    padding-right:9px;
}

.btn-teamone {
    color: #ad9e6e;
    border: 1px solid;
    border-color: #ad9e6e;
}

.btn-teamtwo {
    color: #10395c;
    border: 1px solid;
    border-color: #10395c;
}

.field-quadrant {
    background-color: darkgreen;
    border: 2px solid white;
    color: white;
    height:200px;
}

.field-quadrant-h2 {
    background-color: darkgreen;
    border: 2px solid white;
    color: white;
    height:200px;
    display:none;
}

@media only screen and (min-width: 800px) {
    .field-quadrant {
        background-color: darkgreen;
        border: 2px solid white;
        color: white;
        height:250px;
    }

    #notes-below-field {
        display:flex;
        flex-direction: row;
        align-content: space-around;
    }
}